.venv
.idea/
logs
*.wav
dataset/
__pycache__/
build
dist
*.spec

pipdeptree.txt
requirements.lock.txt
todo.md
/models
vocotype_ibus.egg-info
cc-gen-doc
CLAUDE.md
cc-gen-doc
cc-gen-script
vocotype_flutter_runtime.egg-info/
